body {
	background-color: #232323;
}
h1 {
	color: white;
}
#container {
	max-width: 600px;
	margin: 0 auto;
}
.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}
#stripe {
	background-color: gray;
	height: 40px;
	text-align: center;
}
.selected {
	background: blue;
}